

.pmui-field-label, 
.pmui-field-control {
	float: left;
	display: block;
	text-align: left;
	margin-right: 5px;
}

.pmui-field-label{	
	padding: 8px 0;
}
.pmui-field-control{
}
.pmui-field-control-er{
	color: #f00;
}




 