@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pmui-"],
[class*=" pmui-"] {
    color: #2d3e50;
	 font-family: 'SourceSansProRegular', Arial, Tahoma, Verdana;
    text-align: center;
}

ul[class^="pmui-"], 
ul[class*=" pmui-"],
ol[class^="pmui-"], 
ol[class*=" pmui-"] {
    list-style: none;
    margin: 0;
}

/* Debería ir así para afectar a todos los campos que sean formularios */

.pmui-textcontrol, 
.pmui-dropdownlistcontrol, 
.pmui-textareacontrol {
    font-size: 16px;
    font-family: 'SourceSansProLight', Arial, Tahoma, Verdana;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #bec5cc;
    background: #fff;
    display: inline-block;
    text-align: left;
    padding: 7px 4px;
}


.pmui-htmlcontrol{
	float: left;
	display: block;
	cursor: pointer;
	margin: 5px 0;
}
.pmui-htmlcontrol input{
	float: left;
	display: inline-block;
   padding-top: 1px;
}
.pmui-htmlcontrol span{
	float: left;
	display: inline-block;
	line-height: 20px;
}

