@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pmui-"],
[class*=" pmui-"] {
    font-family: 'SourceSansProRegular', Arial, Tahoma, Verdana;
    text-align: center;
}



/* Debería ir así para afectar a todos los campos que sean formularios */

label, select, input, textarea{
font-size: 16px;
font-family: 'SourceSansProLight', Arial, Tahoma, Verdana;
border: none;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}