


/* APLICAR EN LUGAR DE <H2> */

 
label{
    display: inline-block;
	 color: #2d3e50;
	 width: 200px;
	 margin-right: 10px;
}




.pmui-textcontrol{
	display: inline-block;
	text-align: left;
	background: #fff;
	border: 1px solid #bec5cc;
	padding: 7px 4px;
}

